<!-- Four Service icons -->
<div class="container d-flex flex-wrap text-light justify-content-center mb-3" >

    <div class="px-2 m-2" style="min-width: 200px;">
        <div class="d-flex align-items-center justify-content-center rounded py-3 h-100 w-100" style="background-color: #9e9e9e;min-width: max-content;">
            <i class="fs-3 fas fa-shield-halved text-dark col-2"></i>
            <div class="vr col-1  mx-1"></div>
            <p class="p-0 m-0 col-8">دفع أمن 100%</p>
        </div>
    </div>

    <div class="px-2 m-2" style="min-width: 200px;">
        <div class="d-flex align-items-center justify-content-center rounded py-3 h-100 w-100" style="background-color: #9e9e9e;min-width: max-content;">
            <i class="fs-3 fas fa-headset text-dark col-2"></i>
            <div class="vr border-light col-1 mx-1"></div>
            <p class="p-0 m-0 col-8">خدمة ما بعد البيع</p>
        </div>
    </div>

    <div class="px-2 m-2" style="min-width: 200px;"> 
        <div class="d-flex align-items-center justify-content-center rounded py-3 h-100 w-100" style="background-color: #9e9e9e;min-width: max-content;">
            <i class="fs-3 fas fa-arrow-rotate-left text-dark col-2"></i>
            <div class="vr col-1  mx-1"></div>
            <p class="p-0 m-0 col-8">ضمان استرجاع الأموال</p>
        </div>
    </div>

    <div class="px-2 m-2" style="min-width: 200px;">
        <div class="d-flex align-items-center justify-content-center rounded py-3 h-100" style="background-color: #9e9e9e;min-width: max-content;">
            <i class="fs-3 fas fa-truck text-dark col-2"></i>
            <div class="vr col-1 mx-1"></div>
            <p class="p-0 m-0 col-8">شحن مجاني وسريع</p>
        </div>
    </div>

</div>

<!-- Footer Body -->
<div class="bg-dark text-light pt-2">
    <img class="d-block undraggable" src="../../assets/white_logo.png">
    <div class="d-flex pt-4 flex-wrap">

        <!--#region First Col  -->
        <div class="col-4 px-4 "  style="min-width: max-content;">
            <p class="fw-bold">تعرف علينا</p>
            <div class="my-2"><a routerLink="" class="text-decoration-none text-light">عن الشركة</a></div>
            <div class="my-2"><a routerLink="" class="text-decoration-none text-light">سياسة الخصوصية</a></div>
            <div class="my-2"><a routerLink="" class="text-decoration-none text-light">سياسة الاستبدال والاسترجاع</a></div>
            <div class="mt-3">
                <a class="text-light" target="_blank" href="https://www.facebook.com/cherryandberryofficial/"><i style="font-size: 32px;" class="mx-2 fab fa-facebook-square"></i></a>
                <a class="text-light" target="_blank" href="https://www.youtube.com/channel/UC1GSK_BeV4ABffHAnxiO1aQ"><i style="font-size: 32px;" class="mx-2 fab fa-youtube"></i></a>
                <a class="text-light" target="_blank" href="https://www.instagram.com/cherryandberryofficial/"><i style="font-size: 32px;" class="mx-2 fab fa-instagram"></i></a>
                <a class="text-light" target="_blank" href="https://www.linkedin.com/in/cherryn-berry-62a5281a1"><i style="font-size: 32px;" class="mx-2 fab fa-linkedin"></i></a>
            </div>
        </div>
        <!--#endregion  -->


        <!--#region Second Col  -->
        <div class="col-4 px-4 "  style="min-width: max-content;">
            <p class="fw-bold">القائمة</p>
            <div class="my-2"><a routerLink="" class="text-decoration-none text-light">حسابي</a></div>
            <div class="my-2"><a routerLink="" class="text-decoration-none text-light">المنتجات المفضلة</a></div>
            <div class="my-2"><a routerLink="" class="text-decoration-none text-light">تتبع طلبك</a></div>
            <div class="my-2"><a routerLink="" class="text-decoration-none text-light">اتصل بنا</a></div>
        </div>
        <!--#endregion  -->

        <!--#region Third Col  -->
        <div class="col-4 px-4 mt-3 mt-lg-0" style="min-width: max-content;">
            <p class="fw-bold">كن على تواصل</p>
            <p style="color: rgb(164, 164, 164);"><i class="ms-2 mb-0 fas fa-location-dot"></i>ميامي، الاسكندرية، مصر
            </p>
            <p style="color: rgb(164, 164, 164);"><i class="ms-2 mb-0 fas fa-phone"></i>(+20) 102 344 4416</p>
            <p style="color: rgb(164, 164, 164);"><i class="ms-2 mb-0 fas fa-location-dot"></i>الولايات المتحدة
                الأمريكية: شايان، وايومنغ 82001</p>
            <p style="color: rgb(164, 164, 164);"><i class="ms-2 mb-0 fas fa-phone"></i>307-274-8337</p>
            <p style="color: rgb(164, 164, 164);"><i class="ms-2 mb-0 fas fa-envelope"></i>support@cherryandberry.com
            </p>
            <p style="color: rgb(164, 164, 164);"><i class="ms-2 mb-0 fas fa-clock"></i>السبت - الجمعة / 9:00 صباحاً -
                8:00 مساءً</p>
        </div>
        <!--#endregion  -->
    </div>
    <hr class="border-light mx-2">
    <div class="d-flex justify-content-between mx-3 flex-wrap">
        <div class="d-flex">
            نستخدم وسائل الدفع الأمنة
            <img style="height: 20px;" class="mx-3" src="../../assets/icons/1.png">
            <img style="height: 20px;" class="mx-3" src="../../assets/icons/2.png">
            <img style="height: 20px;" class="mx-3" src="../../assets/icons/3.png">
            <img style="height: 20px;" class="mx-3" src="../../assets/icons/va.png">
        </div>
        <p style="direction:ltr" class="m-4 mt-lg-1">© CHERRY & BERRY 2022. ALL RIGHTS RESERVED</p>
    </div>

</div>