<div class="payment-form">
    <form action="">
        <div class="top-form">
            <!-- <input type="radio" checked> -->
            <label for="">بطاقة الائتمان / الخصم
                <span>
                    <img src="../../../images/visa-logo.png" alt="">
                    <img src="../../../images/mastercard-logo.png" alt="">
                    <img src="../../../images/amex-logo.png" alt="">
                </span>
            </label>
        </div>
        <div class="payment-information">
            <div>
                <label for="">رقم البطاقه</label>
                <input type="text" class="cart-payment">
            </div>
            <div>
                <label for="">اسم مالك البطاقه</label>
                <input type="text" class="cart-payment-honer">
            </div>
            <div>
                <label for="">تاريخ انتهاء الصلاحيه</label>
                <input type="text" placeholder="YY" class="date-Ex">
                <input type="text" placeholder="MM" class="date-Ex">
            </div>
        </div>

        <div class="payment-clas">
            <button><a>حفظ طرق الدفع</a></button>
        </div>

    </form>
</div>
