*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    direction: rtl;
    text-align: start;
}

.payment-form{
    width: 66%;
    position: absolute;
    top: 200px;
    color: #444;
    font-weight: 500;
}

// .top-form input{
//     border-color: #3a3a3a;
//     background-color: #3a3a3a;
//     box-shadow: none;
// }

.top-form{
    margin: 10px 0;
}
.top-form label{
    margin: 10px 0;
}

.payment-information{
    width: 90%;
    background-color: #ccc;
    padding: 15px;
    border-radius: 5px;
}

.payment-information label{
    display: block;
    margin: 10px;
}
.payment-information .cart-payment{
    width: 97%;
    height: 30px;
    margin-top: 15px;
    border: 1px solid transparent;
} 
.payment-information .cart-payment-honer{
    width: 97%;
    height: 38px;
    margin-top: 20px;
    border: 1px solid transparent;
}
.payment-information .date-Ex{
    width: 45px;
    height: 45px;
    padding: 7px;
    margin: 10px;
}

.payment-clas{
    direction: rtl;
    width: 50%;
    text-align: start;
    margin-top: 20px;
}
.payment-clas button{
    width: 200px;
    height: 40px;
    background-color: #a51731;
    color: #fff;
    border: 1px solid #a51731;
    border-radius: 2px;
    text-align: center;
}
.payment-clas button a{
    background-color: #a51731;
    color: #fff;
}
.payment-clas button a:hover{
    text-decoration: none;
}