
<!-- <body class="bg-light" style="direction: rtl;"> -->


    <!-- //**************************************************// -->
    <!-- <div class="container-fluid d-lg-flex d-flex justify-content-between align-items-center ">
  
  <div class="d-flex">
    <img style="max-width: fit-content; width: 270px;" class="  p-2  navbar-brand " src="../assets/img/logo.png" alt="">
    <form  class="d-lg-flex d-none w-100 p-2">
      <input style="width: 400px;"  class="form-control  " type="text" placeholder="ابحث عن ...">
      <button class=" btnserch" type="submit">بحث</button> 
       </form> 
  </div>
  
  <div class="d-flex" >
    
   <a href="/location"> <i class="fas fa-location-dot p-1 mx-1   head" title="أين تجدنا"></i></a> -->
  <!-- //*******************************************************************// -->
  
  <!-- //*******************************************************************// -->
  
   <!-- <a href="/offcanvas"> <i class="fas fa-cart-plus p-1 head mx-1  " title="السلة"></i></a>
   <a class=" " data-bs-toggle="dropdown" href="#" role="button"
   aria-haspopup="true" aria-expanded="false"><i class="fas fa-person-breastfeeding p-1 head mx-1  " title="تسجيل الدخول"></i></a>
  <div class="dropdown-menu log  bg-dark">
   <a class="dropdown-item text-end  bg-dark text-light " href="#">حسابي</a>
   <a class="dropdown-item text-end bg-dark text-light "  href="#">الطلبات السابقة</a>
   <a><hr class="dropdown-divider text-light "></a>
   <a class="dropdown-item text-end  bg-dark text-light " href="#">تسجيل الخروج</a>
  </div>
  
   </div>
  </div>

  -->
  
    
      
    <!-- //*********************************************************// -->
  <!-- <div  class="container-fliud   m-0  nav1">
    
    <nav class="navbar navbar-expand-lg navbar-dark nav2 m-0  ">
      <div class="container p-0 m-0 text-center ">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse   justify-content-center  p-0 m-0" id="navbarColor01">
        
    
            <div class="nav-item navblack text-center w-100 mx-3 ">
              <a class="nav-link  text-white h6 navblack"  href="/Home">الرئيسية</a>
            </div>
    
            <div class="nav-item dropdown navblack text-center w-100 mx-3 "> -->
              <!-- <a  (click)=" getProductFilter1()" class="nav-link dropdown-toggle text-white h6"  href="/filter" role="button"
                aria-haspopup="true" aria-expanded="false">فرد الشعر</a> -->
              <!-- <div  class="dropdown-menu  bg-dark text-end">
                <a  class="dropdown-item  bg-dark text-light " href="/filter">فرد الشعر</a>
                <a  class="dropdown-item  bg-dark text-light" href="#">تمويج الشعر </a>
                <a class="dropdown-item  bg-dark text-light" href="#">تجفيف الشعر</a>
                <a class="dropdown-item  bg-dark text-light" href="#">العنايه بالبشره</a>
              </div>
            </div>
     -->
            <!-- <div class="nav-item dropdown navblack text-center w-100 mx-3"> -->
              <!-- <a (click)=" getProductFilter2()" class="nav-link dropdown-toggle text-white h6"  href="/filter1" role="button"
                aria-haspopup="true" aria-expanded="false">تمويج الشعر </a> -->
              <!-- <div class="dropdown-menu  bg-dark text-end">
                <a class="dropdown-item  bg-dark text-light " href="#">فرد الشعر</a>
                <a class="dropdown-item  bg-dark text-light" href="#">تمويج الشعر </a>
                <a class="dropdown-item  bg-dark text-light" href="#">تجفيف الشعر</a>
                <a class="dropdown-item  bg-dark text-light" href="#">العنايه بالبشره</a>
              </div>
            </div>
    
            <div class="nav-item dropdown navblack text-center w-100 mx-3 "> -->
              <!-- <a (click)=" getProductFilter3()" class="nav-link dropdown-toggle text-white h6"  href="/filter2" role="button"
                aria-haspopup="true" aria-expanded="false">تجفيف الشعر</a> -->
              <!-- <div class="dropdown-menu  bg-dark text-end">
                <a class="dropdown-item  bg-dark text-light " href="#">فرد الشعر</a>
                <a class="dropdown-item  bg-dark text-light" href="#">تمويج الشعر </a>
                <a class="dropdown-item  bg-dark text-light" href="#">تجفيف الشعر</a>
                <a class="dropdown-item  bg-dark text-light" href="#">العنايه بالبشره</a>
          
              </div>
            </div>
    
            <div class="nav-item dropdown navblack text-center w-100 mx-3 "> -->
              <!-- <a (click)=" getProductFilter4()" class="nav-link dropdown-toggle text-white h6 dropdown-toggle"  href="/filter3" role="button"
                aria-haspopup="true" aria-expanded="false">العنايه بالشعر</a> -->
              <!-- <div class="dropdown-menu bg-dark text-end ">
                <a class="dropdown-item  bg-dark text-light " href="#">فرد الشعر</a>
                <a class="dropdown-item  bg-dark text-light " href="#">تمويج الشعر </a>
                <a class="dropdown-item  bg-dark text-light " href="#">تجفيف الشعر</a>
                <a class="dropdown-item  bg-dark text-light  " href="#">العنايه بالبشره</a>
              </div>
            </div>
    
            <div class="nav-item  navblack text-center w-100 mx-3">
              <a class="nav-link  text-white h6 "  href="/sale">العروض</a>
               
              </div>
        
        </div>
      </div>
    
    </nav>
  </div> -->

    
  <!-- </body> -->