<!-- <app-navbar></app-navbar> -->

<div class="conttainer">
    <div class="row  justify-content-center align-item-center  p-5 h-50">
        <!-- <div class=" col-lg-12  text-center"> -->
            <img  style="height: 500px;" src="../assets/img/mapjpg.jpg" alt="">
        <!-- </div> -->
    </div>
</div>







<div class="container">
  <div class="row justify-content-center align-item-center text- center p-2">
    <div class="col-lg-6 text-center">
      <div class="box">
        <a href="https://bloompharmacy.com/"><img src="../assets/img/Bloom.jpg" alt="" /></a>
        <p style="font-size: 14px;">garden 8,Salah El Din Abdel Karim, New Cairo 1, Cairo Governorate</p>
      </div>
    </div>

    <div class="col-lg-6 text-center">
      <div class="box">
        <a href="https://www.helpmecovid.com/eg/12191_orania-pharmacy"><img src="../assets/img/Orania.jpg" alt="" /></a>
        <p style="font-size: 14px;">11 Ramses, El-Montaza, Heliopolis, Cairo Governorate</p>
      </div>
    </div>
  </div>

  <div class="row justify-content-center align-item-center text- center p-2">
    <div class="col-lg-6 text-center">
      <div class="box">
        <a href="https://www.dalil140.com/branches?lng=en&n=316742-doctor-m-pharmacies"><img src="../assets/img/Mp.jpg" alt="" /></a>
        <p style="font-size: 14px;">15 Khalil Ibn Kaldon, Al Matar, El Nozha, Cairo Governorate</p>
      </div>
    </div>

    <div class="col-lg-6 text-center">
      <div class="box">
        <a class="w-100" href="https://tfk.me/"><img src="../assets/img/TFK.jpg" alt="" /></a>
        <p style="font-size: 14px;">Abd Al Razak Al Sanhouri, Al Hadiqah Ad Dawleyah, Nasr City</p>
      </div>
    </div>
  </div>

  <div class="row justify-content-center align-item-center text- center p-2">
    <div class="col-lg-6 text-center">
      <div class="box">
        <a class="w-100" href="https://www.jaypharm.co.uk/"><img src="../assets/img/Jay.jpg" alt="" /></a>
        <p style="font-size: 14px;">Number: 01030044980 Address: 93 Ahmed Amha St., Alexandria, Egypt</p>
      </div>
    </div>

    <div class="col-lg-6 text-center">
      <div class="box">
        <a class="w-100" href="https://olifemena.com/?gclid=CjwKCAjwh-CVBhB8EiwAjFEPGa_1CYOT3UkLBF9Awje_SuvexZYmBJfHVJmCc5GqZtOL6cik61VGjBoCuzIQAvD_BwE"
          ><img src="../assets/img/Olife.jpg" alt=""
        /></a>
        <p style="font-size: 14px;">Hotline - 16350</p>
      </div>
    </div>
  </div>

  <div class="row justify-content-center align-item-center text- center p-2">
    <div class="col-lg-6 text-center">
      <div class="box">
        <a href="https://eg.placedigger.com/bazid-pharmacy1462624211.html"><img src="../assets/img/Bazid.jpg" alt="" /></a>
        <p style="font-size: 14px;">garden 8,Salah El Din Abdel Karim, New Cairo 1</p>
      </div>
    </div>

    <div class="col-lg-6 text-center">
      <div class="box">
        <a class="w-100" href="http://www.citycentrealmaza.com/shopping/services/la-coupe"
          ><img src="../assets/img/Lacoupe.jpg" alt=""
        /></a>
        <p style="font-size: 14px;">15 Khalil Ibn Kaldon, Al Matar, El Nozha, Alex Governorate</p>
      </div>
    </div>
  </div>
</div>
