*{
    font-family: "Almarai", sans-serif;
 }
 *::selection {
    background: #a51731;
    color: white;
}


.box{
    position: relative;
    background-color: white;
    margin-bottom: 25px;
    padding-top: 45px;
    padding-bottom:30px ;
    padding-left:45px ;
    padding-right:45px ;
}