<div class="ad-detals">
    <p>سيتم استخدام العناوين التالية في صفحة الخروج بشكل افتراضي.</p>
    <div class="address-cont">
        <div class="contant-addres-form">
            <div class="addres-top">
                <span>عنوان وصول الفواتير</span>
                <a routerLink="/billingAddress">اضافه</a>
            </div>
            <p>لم تقم بإعداد هذا النوع من العنوان حتى الآن.</p>
        </div>
        <div class="contant-addres-form">
            <div class="addres-top">
                <span>عنوان الشحن</span>
                <a routerLink="/shippingAddress">اضافه</a>
            </div>
            <p>لم تقم بإعداد هذا النوع من العنوان حتى الآن.</p>
        </div>
    </div>
</div>